/vendor/
/storage/*.log
/storage/sessions/*
!/storage/sessions/.gitkeep

/public/assets/*.css
/public/assets/*.js

.env
/storage/security/
/storage/logs/
/tests/runtime/
.env.*
!.env.example
*.zip
*.sql

.env~

/tests/t/
